# Project
config.ini

# Unecessary files for Docker
.gitignore
batRunner.vbs
batStopper.bat
Discord RA Rich Presence.exe
LICENSE
README.md
run.bat

# Py Defaults
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
include/
lib/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# virtual python environment
bin
assets
pyvenv.cfg

# Hidden Mac files
.DS_Store