version: '3.8'

services:
  retroachievements-discord-rpc:
    build: .
    restart: always
    env_file:
      - .env
    network_mode: host
    volumes:
      - /run/user/1000/discord-ipc-0:/run/user/1000/discord-ipc-0
